<ion-header *ngIf="origenDatos">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="origenDatos == 'estadia' && idEstadia != 0">Estadía N° {{idEstadia}}</ion-title>
        <ion-title *ngIf="origenDatos == 'estadia' && idEstadia == 0">Generar Nueva Estadía</ion-title>
        <ion-title *ngIf="origenDatos == 'confReserva'">Reserva a confirmar N° {{idReserva}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="origenDatos">
    <ion-card *ngIf="origenDatos == 'confReserva'">
        <ion-item-sliding *ngIf="reserva">
            <ion-item>
                <ion-label>
                    <p class="text">
                        <ion-grid>
                            <ion-row>Reserva N°: {{reserva.idReserva}}</ion-row>
                            <ion-row>
                                <ion-col>
                                    <strong>Fecha</strong>
                                </ion-col>
                                <ion-col>
                                    <strong>Ingreso</strong>
                                </ion-col>
                                <ion-col>
                                    <strong>Egreso</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    {{reserva.fechaReserva | date:'dd/MM/yyyy'}}
                                </ion-col>
                                <ion-col>
                                    {{reserva.horaEntradaReserva}}hs
                                </ion-col>
                                <ion-col>
                                    {{reserva.horaSalidaReserva}}hs
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                    <p class="text">
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <strong>Cantidad de Comensales:</strong> {{reserva.cantPersonas}}
                                </ion-col>
                                <ion-col>
                                    <ion-title *ngIf="reserva.reservaestados[0].estadoreserva.idEstadoReserva != 1">
                                        VENCIDA
                                    </ion-title>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-card>
    <form [formGroup]="form" *ngIf="estadia || reserva">
        <ion-row padding *ngIf="origenDatos == 'estadia' && estadia">
            <ion-label padding color="primary">Fecha y hora Entrada</ion-label>
            <ion-label padding>{{estadia.fechaYHoraInicioEstadia | date:'dd/MM/yyyy, HH:mm'}}hs</ion-label>
        </ion-row>
        <ion-item>
            <ion-label padding color="primary" position="floating">Cantidad de Personas</ion-label>
            <ion-input class="form-control" type="number" placeholder="Cantidad Personas" formControlName="cantPersonas" id="cantPersonas"></ion-input>
        </ion-item>
        <h1 padding>Seleccione Mesa/s</h1>
        <ion-button padding (click)="mostrar5 = !mostrar5" position="floating">Mostrar Mesas</ion-button>
        <ion-list *ngIf="mostrar5">
            <ion-item class="form-group" *ngFor='let element of checkBoxList; let i = index'>
                <ion-label class="descripcion-mesa">
                    <div [innerHTML]="element.descripcion | ajustarPalabra: 33"></div>
                </ion-label>
                <ion-checkbox (ionChange)="checkEvent( i )" [checked]="element.isChecked"> </ion-checkbox>
            </ion-item>
        </ion-list>
        <p class="input-error-msg" *ngIf="form.controls.idMesa.errors?.required && form.controls.idMesa.touched">Campo Obligatorio.</p>
    </form>
    <form [formGroup]="form2" *ngIf="form2">
        <ion-row>
            <ion-col size="9">
                <h1 padding>Comensal </h1>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label padding color="primary" position="floating">Alias Comensal</ion-label>
            <ion-input class="form-control" type="text" placeholder="Alias" formControlName="aliasComensal" id="aliasComensal"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label padding color="primary" position="floating">Edad Comensal</ion-label>
            <ion-input class="form-control" type="number" placeholder="Edad" formControlName="edadComensal" id="edadComensal"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" padding position="floating">Cuit del Usuario</ion-label>
            <ion-input class="form-control" type="number" placeholder="Cuit del Usuario" formControlName="cuitUsuario" id="cuitUsuario"></ion-input>
        </ion-item>
        <p class="input-error-msg" *ngIf="!existenciaUsuario">{{mensajeExistenciaUsuario}}</p>
    </form>
    <ion-button *ngIf="form2" class="mt-10" (click)="nuevoComensal()" [disabled]="!form2.valid" expand="full" shape="round">Agregar Comensal</ion-button>
    <ion-card *ngFor="let comen of comensales; let i = index">
        <ion-card-header *ngIf="!comen.baja">
            <ion-card-title>
                Alias: {{comen.aliasComensal}}
            </ion-card-title>
            <ion-card-subtitle>
                Edad: {{comen.edadComensal}}
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="comen.idUsuario">
                Usuario: {{comen.idUsuario}} - Cuit: {{comen.cuitUsuario}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger" class="mt-10" (click)="eliminarComensal(i)" shape="round" *ngIf="!comen.baja"> Eliminar</ion-button>
    </ion-card>
    <ion-button *ngIf="accionGet == 'editar' && origenDatos == 'confReserva'" class="mt-10" (click)="crearEditarEstadia()" [disabled]="!form.valid" expand="full">Confirmar Reserva</ion-button>
    <ion-button *ngIf="accionGet == 'crear'" class="mt-10" (click)="crearEditarEstadia()" [disabled]="!form.valid" expand="full">Crear Estadía</ion-button>
    <ion-button *ngIf="accionGet == 'editar' && origenDatos == 'estadia'" class="mt-10" (click)="crearEditarEstadia()" [disabled]="!form.valid" expand="full">Editar Estadía</ion-button>
</ion-content>