<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscarUnidadMedida(termino.value)" class="form-control mr-sm-2" placeholder="Buscar Unidad de Medida...">
    </div>
</div>

<hr>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Caracter</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lista of listaUnidadMedida">
            <th scope="row">{{lista.idUnidadMedida}}</th>
            <td>{{lista.codUnidadMedida}}</td>
            <td>{{lista.nombreUnidadMedida}}</td>
            <td>{{lista.caracterUnidadMedida}}</td>
            <td>{{lista.descripcionUnidadMedida}}</td>
            <td>
                <img src="../../../../assets/imagenes/editar_ico.png" alt="Editar" title="Editar" (click)="abmUnidadMedida(lista.idUnidadMedida, 'editar')" style="cursor: pointer;">
                <img src="../../../../assets/imagenes/eliminar_ico.png" alt="Editar" title="Eliminar" (click)="abmUnidadMedida(lista.idUnidadMedida, 'eliminar')" style="cursor: pointer;">
            </td>
        </tr>
    </tbody>
</table>

<!-- <table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
    </tbody>
</table> -->
<hr>
<button [routerLink]="['/home']" class="btn btn-primary">Volver</button>