<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>card-page</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img [src]="image" />
    <button (click)="takePhoto()" ion-button>Take Picture</button>

    <!-- <config-file parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
        <string>You can take photos</string>
    </config-file> -->
</ion-content>