<div class="row">
    <div class="col">
        <input #termino id="botonBuscar" type="text" (keyup)="buscarCaja(termino.value)" class="form-control mr-sm-2" placeholder="Buscar Caja...">
    </div>
</div>

<hr>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Numero de Caja</th>
            <th scope="col">Estado Caja</th>            
            <th scope="col">Accion</th>           
        </tr>
    </thead>
    <tbody  *ngFor="let lista of listaCaja">
            <tr *ngIf ="lista.cajaestados[0].estadocaja.idEstadoCaja == 2" >                     
                    <th scope="row">{{lista.idCaja}}</th>
                    <td>{{lista.nroCaja}}</td>            
                    <td>{{lista.cajaestados[0].estadocaja.nombreEstadoCaja}}</td>       
                    <td>
                       <img src="../../../../assets/imagenes/editar_ico.png" alt="Editar" title="Mostrar Movimientos Caja" (click)="abmCaja(lista.idCaja)" style="cursor: pointer;">
                    </td>
            </tr>
    </tbody>
</table>

<table class="table">

    <tr>
        <td align="left" width="20%"><button [routerLink]="['/home']" class="btn btn-primary">Volver</button></td>
        <td width="20%">&nbsp;</td>
        <td width="20%">&nbsp;</td>
        <td width="20%">&nbsp;</td>        
    </tr>
</table>