<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating">Fecha Reserva</ion-label>
          <ion-datetime mode="md" displayFormat="DD/MM/YYYY" min='{{fechaDesde}}' max='{{fechaHasta}}'></ion-datetime>
        </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha Reserva</ion-label>
      <ion-datetime value="1995-04-15" min="1990-02" max="2000"
        [dayShortNames]="customDayShortNames"
        displayFormat="DDD. MMM DD, YY"
        monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"></ion-datetime>
      <ion-input class="form-control" type="date"  placeholder="Fecha Reserva" formControlName="fechaReserva" id="fechaReserva" [brmasker]="{}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora Entrada</ion-label>
    <ion-input class="form-control" type="date"  placeholder="Hora Entrada" formControlName="horaEntrada" id="horaEntrada" [brmasker]="{}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora Salida</ion-label>
      <ion-input class="form-control" type="date"  placeholder="Hora Salida" formControlName="horaSalida" id="horaSalida" [brmasker]="{}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cantidad Comensales</ion-label>
      <ion-input class="form-control" type="date"  placeholder="Cantidad Comensales" formControlName="cantidadComensal" id="cantidadComensal" [brmasker]="{}"></ion-input>
    </ion-item>
</form>
</ion-content>
