<h2 class="titulo">ABM Caja</h2>
<hr>
<div class="container">
    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="idCaja" class="col col-form-label">Id</label>
                <input type="text" id="idCaja" placeholder="Identificador" formControlName="idCaja" class="form-control">
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="form-group">
                        <label for="nroCaja" class="col col-form-label">Numero de Caja</label>
                        <input type="text" class="form-control" id="nroCaja" placeholder="Ingrese Respuesta" formControlName="nroCaja">
                        <p class="input-error-msg" *ngIf="form.controls.nroCaja.errors?.required && form.controls.nroCaja.touched">Campo Obligatorio.</p>
                    </div>
                </div>                
            </div>     
                
            <div class="form-group row">
                <div class="col">
                    <label for="idEstadoCaja" class="col col-form-label">Estado de Caja</label>
                    <select Placeholder='Seleccione' formControlName='idEstadoCaja' class="form-control"> 
                        <option *ngFor='let element of estadosCaja' [value]='element.idEstadoCaja'>{{element.nombreEstadoCaja}}</option>
                    </select>
                    <p class="input-error-msg" *ngIf="form.controls.idEstadoCaja.errors?.required && form.controls.idEstadoCaja.touched">Campo Obligatorio.</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="idUsuario" class="col col-form-label">Usuario</label>
                    <select Placeholder='Seleccione' formControlName='idUsuario' class="form-control"> 
                        <option *ngFor='let element of usuarios' [value]='element.idUsuario'>{{element.nombreUsuario}}{{element.apellidoUsuario}}</option>
                    </select>
                    <p class="input-error-msg" *ngIf="form.controls.idUsuario.errors?.required && form.controls.idUsuario.touched">Campo Obligatorio.</p>
                </div>                
            </div>            
            <hr>
            <div *ngIf="accionGet != 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Guardar</button>
            </div>
            <div *ngIf="accionGet == 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Eliminar</button>
            </div>
        </form>
    </div>
</div>
<hr>
<button onclick="history.back()" class="btn btn-primary">Cancelar</button>