<h2 class="titulo">Alta Caja</h2>
<hr>
<div class="container">
    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="guardar()">        
            <div class="form-group row">
                <div class="col">
                    <div class="form-group">
                        <label for="nroCaja" class="col col-form-label">Numero de Caja</label>
                        <input type="number" class="form-control" id="nroCaja" placeholder="Ingrese Respuesta" formControlName="nroCaja">
                        <p class="input-error-msg" *ngIf="form.controls.nroCaja.errors?.required && form.controls.nroCaja.touched">Campo Obligatorio.</p>
                        <p class="input-error-msg" *ngIf="form.controls.nroCaja.errors?.pattern && form.controls.nroCaja.touched">Debe ser Positivo y menor que 66.</p>
                    </div>
                </div>                
            </div>
            
            <hr>
            <div *ngIf="accionGet != 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="form.valid">Guardar</button>
            </div>
            <div *ngIf="accionGet == 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Eliminar</button>
            </div>
        </form>
    </div>
</div>
<hr>
<button onclick="history.back()" class="btn btn-primary">Cancelar</button>