<h2 class="titulo">Cerrar Caja</h2>
<hr>
<div class="container">
    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="idCaja" class="col col-form-label">Id</label>
                <input type="text" id="idCaja" placeholder="Identificador" formControlName="idCaja" class="form-control">
            </div>
            <div class="form-group">
                    <label for="nroCaja" class="col col-form-label">Numero de Caja</label>
                    <input type="text" id="nroCaja" placeholder="Identificador" formControlName="nroCaja" class="form-control" disabled>
                </div>
            <div class="form-group row">
                <div class="col">
                    <div class="form-group">
                        <label for="descripcionCajaEstado" class="col col-form-label">Descripcion del Cambio</label>
                        <input type="text" class="form-control" id="descripcionCajaEstado" placeholder="Ingrese Respuesta" formControlName="descripcionCajaEstado">
                        <p class="input-error-msg" *ngIf="form.controls.descripcionCajaEstado.errors?.required && form.controls.descripcionCajaEstado.touched">Campo Obligatorio.</p>
                    </div>
                </div>                
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="form-group">
                        <label for="montoCierreCajaEstado" class="col col-form-label">Monto de Cierre de Caja</label>
                        <input type="number" class="form-control" id="montoCierreCajaEstado" placeholder="Ingrese Respuesta" formControlName="montoCierreCajaEstado">
                        <p class="input-error-msg" *ngIf="form.controls.montoCierreCajaEstado.errors?.required && form.controls.montoCierreCajaEstado.touched">Campo Obligatorio.</p>
                        <p class="input-error-msg" *ngIf="form.controls.montoCierreCajaEstado.errors?.pattern && form.controls.montoCierreCajaEstado.touched">Debe ser Positivo.</p>
                    </div>
                </div>                
            </div>      
            <button (click) = "prueba()"></button>           
                           
            <hr>
            <div *ngIf="accionGet != 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Guardar</button>
            </div>
            <div *ngIf="accionGet == 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Eliminar</button>
            </div>
        </form>
    </div>
</div>
<hr>
<button onclick="history.back()" class="btn btn-primary">Cancelar</button>