<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Item</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Cerrar</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card button=true color='light' *ngIf="tipo == 'producto'">
    <ion-img padding *ngIf="producto.pathImagenProducto"  src={{producto.pathImagenProducto}} ></ion-img>
    <ion-img padding *ngIf="!producto.pathImagenProducto" [src]=altSrc></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="precio"> Precio: {{producto.precioproductos[0]?.importePrecioProducto}} {{producto.precioproductos[0]?.tipomoneda.simboloTipoMoneda}}</ion-card-subtitle>
      <ion-card-title>{{producto.nombreProducto}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descripcion: {{producto.descripcionProducto}} <br/>
      Rubro: {{producto.rubro?.descripcionRubro}} <br/>
      {{producto.cantidadMedida}} {{producto.unidadmedida.nombreUnidadMedida}}
    </ion-card-content>
  </ion-card>
  <ion-card button=true color='light' *ngIf="tipo == 'menupromocion'">
    <ion-img padding *ngIf="menupromocion.pathImagenMenuPromocion"  src={{menupromocion.pathImagenMenuPromocion}} ></ion-img>
    <ion-img padding *ngIf="!menupromocion.pathImagenMenuPromocion" [src]=altSrc></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="precio"> Precio: {{menupromocion.preciomenupromocions[0]?.importePrecioMenuPromocion}} {{menupromocion.preciomenupromocions[0]?.tipomoneda.simboloTipoMoneda}}</ion-card-subtitle>
      <ion-card-title>{{menupromocion.nombreMenuPromocion}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descripcion: {{menupromocion.descripcionMenuPromocion}} <br/>
    </ion-card-content>
  </ion-card>
  <ion-title *ngIf="tipo == 'menupromocion'">
    Conformación
  </ion-title>
  <ion-card *ngIf="tipo == 'menupromocion'">
    <ion-item *ngFor='let item of menupromocion.detallemenupromocionproductos' [ngClass]="{ 'activo': item.producto.productoestados[0].estadoproducto.nombreEstadoProducto == 'Activo' , 'enfalta': item.producto.productoestados[0].estadoproducto.nombreEstadoProducto == 'En Falta' , 'inactivo': item.producto.productoestados[0].estadoproducto.nombreEstadoProducto == 'Inactivo', 'eliminado': item.producto.productoestados[0].estadoproducto.nombreEstadoProducto == 'Eliminado'}">
      <ion-card-title>{{item.cantidadProductoMenuPromocion}}x-  </ion-card-title>
      <div class="box-imagen">
        <ion-img class="imagen" *ngIf="item.producto.pathImagenProducto" src={{item.producto.pathImagenProducto}}></ion-img>
        <ion-img class="imagen" *ngIf="!item.producto.pathImagenProducto" [src]=altSrc></ion-img>
      </div>
      <ion-card-header>
        <ion-card-subtitle>{{item.producto.descripcionProducto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="composicion">
          {{item.producto.cantidadMedida}} <br/> {{item.producto.unidadmedida.caracterUnidadMedida}}
      </ion-card-content>
    </ion-item>
  </ion-card>
</ion-content>