<div class="contenedor-pagina">
    <div class="table-container">
        <h2 class="nav-link active" style="color:blue;">Backup Base de Datos</h2>
        <h4 class="nav-link active" style="color:black;">Para realizar el backup completo de datos de todo el sistema deberá realizar los siguientes pasos:</h4>
        <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
    </div>
</div>

<!-- 
<div class="contenedor-pagina">
        <div class="table-container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" style="color:black;" [routerLink]="['/backup']">Base de Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style="color:blue;" [routerLink]="['/backupApp']"><strong>Aplicación</strong></a>
                </li>
            </ul>
            <div class="jumbotron">
                <h1 class="display-4">Módulo de Backup y Recuperación</h1>
                <p class="lead" [innerHTML]=info></p>
                <hr class="my-4">
                <p [innerHTML]=accion></p>
                <button *ngIf="backupGenerado" type="button" class="btn btn-primary btn-lg" id="generarBackupId"
                    (click)="generarBackup()">Generar Backup</button>
                <button *ngIf="!backupGenerado" class="btn btn-primary btn-lg" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Generando Backup...
                </button>
                <hr>
                <p [innerHTML]=info2></p>
                <p style="color:red;" [innerHTML]=precacucion></p>
                <input type="file" class="btn btn-secondary" (change)="onFileChange($event)">&nbsp;&nbsp;&nbsp;&nbsp;
                <button *ngIf="backupCargado" type="button" class="btn btn-warning btn-lg" id="cargarBackupId"
                    (click)="cargarBackup()">Cargar Backup</button>
                <button *ngIf="!backupCargado" class="btn btn-warning btn-lg" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Cargando Backup...
                </button>
            </div>
            <div class="buttons-botton">
                <div class="row">
                    <div class="col-2">
                        <button [routerLink]="['/home']" class="btn btn-primary">Volver</button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
-->
