<div class="" *ngIf="variableRol!=null">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand">
            <img src="assets\imagenes\logo-sarym_no_title.png" width="30" height="30" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active">Inicio</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="variableRol=='Administrador'">
                        <a class="dropdown-item" [routerLink]="['/home']">Home</a>
                        <div class="dropdown-divider bg-dark"></div>
                        <a class="dropdown-item" [routerLink]="['/usuario']">Usuario</a>
                        <a class="dropdown-item" [routerLink]="['/unidadmedida']">Unidad Medida</a>
                        <a class="dropdown-item" [routerLink]="['/caja']">Caja</a>
                        <a class="dropdown-item" [routerLink]="['/mesa']">Mesa</a>
                        <a class="dropdown-item" [routerLink]="['/rubro']">Rubro</a>
                        <a class="dropdown-item" [routerLink]="['/sector']">Sector</a>
                        <a class="dropdown-item" [routerLink]="['/tipomoneda']">Tipo Moneda</a>
                        <a class="dropdown-item" [routerLink]="['/producto']">Gestionar Producto</a>
                        <a class="dropdown-item" [routerLink]="['/menupromocion']">Gestionar Menu Promocion</a>
                        <a class="dropdown-item" [routerLink]="['/reporte']">Generar Reporte</a>
                    </div>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" *ngIf="variableRol=='Encargado'">
                        <a class="nav-link" [routerLink]="['/home']">Home</a>
                        <div class="dropdown-divider bg-dark"></div>
                        <a class="nav-link" [routerLink]="['/abrircaja']">Abrir Caja</a>
                        <a class="nav-link" [routerLink]="['/cerrarcaja']">Cerrar Caja</a>
                        <a class="nav-link" [routerLink]="['/generarmovimientocaja']">Generar Movimiento Caja</a>
                        <a class="nav-link" [routerLink]="['/reasignarmozoaestadia']">Reasignar Mozo a Estadia</a>
                        <a class="nav-link" [routerLink]="['/habilitar-deshabilitar-producto']">Habilitar/Deshabilitar Producto</a>
                        <a class="nav-link" [routerLink]="['/anularpedido']">Anular Pedido</a>
                        <a class="nav-link" [routerLink]="['/gestionarestadoestadia']">Gestionar Estado Estadia</a>
                    </div>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" *ngIf="variableRol=='Cocinero'">
                        <a class="nav-link" [routerLink]="['/home']">Home</a>
                        <div class="dropdown-divider bg-dark"></div>
                        <a class="nav-link" [routerLink]="['/enviarpedido']">Enviar Pedido</a>
                        <a class="nav-link" [routerLink]="['/cambiarestadopedido']">Cambiar Estado Pedido</a>
                    </div>
                </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="cerrarSesion()">Cerrar
                Sesión</button>
        </div>
    </nav>
</div>