<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SIGN_UP.HEADER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="10" offset="1">
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <ion-item class="item-round mt-10">
          <ion-input type="email" formControlName="email" name="email"
            placeholder="{{'SIGN_UP.PLACEHOLDER.EMAIL' | translate}}"></ion-input>
        </ion-item>
        <div *ngIf="submitted && signUpForm.controls['email'].errors" class="invalid-feedback">
            <div *ngIf="signUpForm.controls['email'].errors.required"><small>Email is required</small></div>
            <div *ngIf="signUpForm.controls['email'].errors.email"><small>Email must be a valid email address</small></div>
        </div>
        <ion-item class="item-round mt-10">
          <ion-input type="text" formControlName="firstname" name="name"
            placeholder="{{'SIGN_UP.PLACEHOLDER.NAME' | translate}}"></ion-input>
        </ion-item>
        <div *ngIf="submitted && signUpForm.controls['firstname'].errors" class="invalid-feedback">
            <div *ngIf="signUpForm.controls['firstname'].errors.required"><small>Firstname is required</small></div>
            <div *ngIf="signUpForm.controls['firstname'].errors.minlength"><small>Firstname must be at least 2 characters</small></div>
            <div *ngIf="signUpForm.controls['firstname'].errors.maxlength"><small>Firstname must be no more than 50 characters</small></div>
        </div>
        <ion-item class="item-round mt-10">
          <ion-input type="text" formControlName="lastname" name="lastname"
            placeholder="{{'SIGN_UP.PLACEHOLDER.LAST_NAME' | translate}}"></ion-input>
        </ion-item>
        <div *ngIf="submitted && signUpForm.controls['lastname'].errors" class="invalid-feedback">
            <div *ngIf="signUpForm.controls['lastname'].errors.required"><small>Lastname is required</small></div>
            <div *ngIf="signUpForm.controls['lastname'].errors.minlength"><small>Lastname must be at least 2 characters</small></div>
            <div *ngIf="signUpForm.controls['lastname'].errors.maxlength"><small>Lastname must be no more than 50 characters</small></div>
        </div>
        <ion-item class="item-round mt-10">
          <ion-datetime displayFormat="MM/DD/YYYY" name="birthdate" formControlName="birthdate"
            placeholder="{{'SIGN_UP.PLACEHOLDER.BIRTH_DATE' | translate}}"></ion-datetime>
        </ion-item>
        <ion-item class="item-round mt-10">
          <ion-input type="tel" formControlName="phone" name="phone"
            placeholder="{{'SIGN_UP.PLACEHOLDER.PHONE_NUMBER' | translate}}"></ion-input>
        </ion-item>
        <div *ngIf="submitted && signUpForm.controls['phone'].errors" class="invalid-feedback">
            <div *ngIf="signUpForm.controls['phone'].errors.required"><small>Phone is required</small></div>
            <div *ngIf="!signUpForm.controls['phone'].errors.required && signUpForm.controls['phone'].value['lenght'] != 10 "><small>Phone must be 10 digits</small></div>
        </div>
        <ion-item class="item-round mt-10">
          <ion-input type="text" formControlName="username" name="username"
            placeholder="{{'SIGN_UP.PLACEHOLDER.USERNAME' | translate}}"></ion-input>
        </ion-item>
        <div *ngIf="submitted && signUpForm.controls['username'].errors" class="invalid-feedback">
            <div *ngIf="signUpForm.controls['username'].errors.required"><small>Username is required</small></div>
            <div *ngIf="signUpForm.controls['username'].errors.minlength"><small>Username must be at least 2 characters</small></div>
            <div *ngIf="signUpForm.controls['username'].errors.maxlength"><small>Username must be no more than 50 characters</small></div>
        </div>
        <form [formGroup]="signUpForm.get('password_group')">
            <ion-item class="item-round mt-10">
                <ion-input type="password" formControlName="password" name="password"
                  placeholder="{{'SIGN_UP.PLACEHOLDER.PASSWORD' | translate}}"></ion-input>
              </ion-item>
              <div *ngIf="submitted && signUpForm.get('password_group').get('password').errors" class="invalid-feedback">
                  <div *ngIf="signUpForm.get('password_group').get('password').getError('required')"><small>Password is required</small></div>
                  <div *ngIf="signUpForm.get('password_group').get('password').getError('minlength')"><small>Password must be at least 2 characters</small></div>
                  <div *ngIf="signUpForm.get('password_group').get('password').getError('maxlength')"><small>Password must be no more than 50 characters</small></div>
              </div>
              <ion-item class="item-round mt-10">
                <ion-input type="password" formControlName="repeat_password" name="repeat-password"
                  placeholder="{{'SIGN_UP.PLACEHOLDER.REPEAT_PASSWORD' | translate}}"></ion-input>
              </ion-item>
              <div *ngIf="submitted && signUpForm.get('password_group').get('repeat_password').errors" class="invalid-feedback">
                  <div *ngIf="signUpForm.get('password_group').get('repeat_password').getError('required')"><small>Repeat password is required</small></div>
                  <div *ngIf="signUpForm.get('password_group').get('repeat_password').getError('minlength')"><small>Repeat password must be at least 2 characters</small></div>
                  <div *ngIf="signUpForm.get('password_group').get('repeat_password').getError('maxlength')"><small>Repeat password must be no more than 50 characters</small></div>
                  <div *ngIf="signUpForm.get('password_group').get('repeat_password').getError('not_equal') == true"><small>{{'SIGN_UP.PASSWORDS_NOT_EQUAL' | translate}}</small></div>
              </div>
          </form>
        
        <ion-button class="mt-10" type="submit" color="primary" expand="full" shape="round">
          {{'SIGN_UP.REGISTER_BUTTON' | translate}}</ion-button>
      </form>
    </ion-col>
  </ion-row>
  <ion-row class="terms-text">
    <ion-col size="10" offset="1">
      <p class="mb-0 mt-0">{{'SIGN_UP.ALREADY_ACCOUNT' | translate}} <a
          (click)="goTo('sign-in')">{{'SIGN_UP.LOGIN' | translate}}</a></p>
      <p class="mb-0 mt-5" [innerHTML]="'SIGN_UP.TERMS_AND_CONDITIONS' | translate"></p>
    </ion-col>
  </ion-row>
</ion-content>