<div class="ion-page" main>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-menu-button slot="start"></ion-menu-button>
            <ion-title class="ion-text-center">
                <ion-img class="logo" src="../../assets/icon/logo-sarym-extrafino.jpg"> </ion-img>
            </ion-title>
            <ion-buttons class="header-final" slot="end">
                <ion-icon name="person"></ion-icon>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-icon name="notifications"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-slides pager="true">
            <ion-slide *ngFor="let item of slides" [ngStyle]="{ 'background-image': 'url(' + item.url + ')'}">
            </ion-slide>
        </ion-slides>
    </ion-content>
    <ion-footer color="primary">
        <ion-toolbar>
            <ion-list class="list-radius">
                <ion-item no-padding color="primary" routerLink="/mi-saldo" routerDirection="root" routerLinkActive="active">
                    <ion-icon color="light" class="list-icon" name="filing"></ion-icon>
                    <ion-label color="light">BILLETERA ELECTRÓNICA</ion-label>
                </ion-item>
                <ion-item no-padding routerLink="/sumaqr">
                    <ion-icon color="primary" class="list-icon" name="add-circle"></ion-icon>
                    <ion-label color="primary">SUMÁ</ion-label>
                </ion-item>
                <ion-item no-padding>
                    <ion-icon color="primary" class="list-icon" name="card"></ion-icon>
                    <ion-label (click)=getUsuario(1) color="primary">CANJEÁ</ion-label>
                </ion-item>
                <ion-item no-padding>
                    <ion-icon color="primary" class="list-icon" name="albums"></ion-icon>
                    <ion-label (click)=getUsuarios() color="primary">CATÁLOCO</ion-label>
                </ion-item>
            </ion-list>
        </ion-toolbar>
    </ion-footer>
</div>