
.activo {
    background-color: var(--ion-color-success);
}
.pendiente {
    background-color: var(--ion-color-warning);
}
.anulado {
    background-color: var(--ion-color-dark);
}
.eliminado {
    background-color: var(--ion-color-danger);
}
.finalizado {
    background-color: var(--ion-color-medium);
}

.card-inter {
    width: 100%;
}