<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='reserva'>
  <!-- <ion-card *ngFor="let item of reserva.pedidos" color="medium" (click)="seleccionarPedido(item)" mode="ios">
      <ion-card-header>
        <ion-card-title>Codigo: <strong>{{item.codPedido}}</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Importe: <strong>$ {{item.importeTotal}}</strong></ion-card-title>
        <ion-card-title>Estado: <strong>{{item.pedidoestados[0].estadopedido.nombreEstadoPedido}}</strong></ion-card-title>
      </ion-card-content>
    <ion-item *ngFor="let elemento of item.detallepedidoproducto">
        <ion-card-subtitle>Usuario Asociado: <strong> {{elemento}}</strong></ion-card-subtitle>
        <ion-card-subtitle>Cuit: <strong>{{item.usuario.cuitUsuario}}</strong></ion-card-subtitle>
    </ion-item>
  </ion-card> -->

    <ion-item-sliding *ngFor="let item of reserva.pedidos"  >
        <ion-item (click)="seleccionarPedido(item)" >
          <ion-card color=success class="card-inter" [ngClass]="{ 'activo': item.pedidoestados[0].estadopedido.nombreEstadoPedido == 'Reservado' ||
                                                   item.pedidoestados[0].estadopedido.nombreEstadoPedido == 'En Preparación' ||
                                                   item.pedidoestados[0].estadopedido.nombreEstadoPedido == 'A Entregar' ,
                                                  'pendiente': item.pedidoestados[0].estadopedido.nombreEstadoPedido == 'Pendiente de Pago', 
                                                  'anulado': item.pedidoestados[0].estadopedido.nombreEstadoPedido == 'Anulado', 
                                                  'eliminado': item.pedidoestados[0].estadopedido.nombreEstadoPedido == 'Eliminado',
                                                  'finalizado': item.pedidoestados[0].estadopedido.nombreEstadoPedido == 'Finalizado'}">
            <ion-card-header>
              <ion-card-title>Codigo: <strong>{{item.codPedido}}</strong></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>Importe: <strong>$ {{item.importeTotal}}</strong></ion-card-title>
              <ion-card-title>Estado: <strong>{{item.pedidoestados[0].estadopedido.nombreEstadoPedido}}</strong></ion-card-title>
            </ion-card-content>
            <ion-item *ngFor="let elemento of item.detallepedidoproducto">
                <ion-card-subtitle>Usuario Asociado: <strong> {{elemento}}</strong></ion-card-subtitle>
                <ion-card-subtitle>Cuit: <strong>{{item.usuario.cuitUsuario}}</strong></ion-card-subtitle>
            </ion-item>
          </ion-card>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option color="danger" (click)="eliminarPedido()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="crearComensal()">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
