<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="main login">
    <div class="container">
        <div class="middle">
            <div id="login">
                <form [formGroup]='form' *ngIf='form'>
                    <fieldset class="clearfix">
                        <p><span class="fa fa-user"></span><input formControlName='username' id='username' type="text" Placeholder="Username"></p>
                        <!-- JS because of IE support; better: placeholder="Username" -->
                        <p><span class="fa fa-lock"></span><input formControlName='password' id='password' type="password" Placeholder="Password" ></p>
                        <!-- JS because of IE support; better: placeholder="Password" -->
                        <div>
                            <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot password?</a></span>
                            <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In" (click)="loguear()"></span>
                        </div>
                    </fieldset>
                    <div class="clearfix"></div>
                </form>
                <div class="clearfix"></div>
            </div>
            <!-- end login -->
            <div class="logo-sarym">
                <img src="./../assets/imagenes/logo-sarym.png">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>