<div class="contenedor-pagina">
    <br>
    <h2>Edad Comensales</h2>
    <br><br>
    <div>
        <div>
            <div class="chart">
                <canvas baseChart 
                [data]="pieChartData" 
                [labels]="pieChartLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions" 
                [plugins]="pieChartPlugins" 
                [colors]="pieChartColors"
                [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
    </div>
</div>