<div class="contenedor-pagina">
    <div class="table-container">
        <hr>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Prod/Menu-Prom</th>
                    <th scope="col">Cantidad</th> 
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody  *ngFor="let lista of detallesPedido">
                <tr> 
                    <div *ngIf="lista.menupromocion == null">                    
                        <td>{{lista.producto.codProducto}}</td> 
                    </div>
                    <div *ngIf="lista.producto == null">                    
                            <td>{{lista.menupromocion.codMenuPromocion}}</td> 
                    </div>   
                    <td>{{lista.cantidadPedidoProducto}}</td>
                    <td>{{lista.simboloTipoMoneda}}{{lista.precio}}</td>                        
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tr>
                <td align="left" width="20%"><button (click)="editPedido()" class="btn btn-primary">Volver</button></td>
                <td width="20%">&nbsp;</td>
                <td width="20%">&nbsp;</td>
                <td width="20%">&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
