<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let iconos of iconosHome">
        <img [src]="iconos.img" class="card-img-top" [alt]="iconos.nombre" (click)="goTo(iconos.clave)">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center; font-weight: bold;">{{iconos.nombre}}</h4>
        </div>
    </div>



    <!-- width="50" height="50" -->
    <!-- <div>hola hagan la fucking tarea.. vagos hijos de su chingada madre...</div>
<button (click)="goTo('abm-usuario')">ABM Usuario</button>
<button (click)="goTo('abm-tipomoneda')">ABM Tipo Moneda</button>
<button (click)="goTo('abm-unidadmedida')">ABM Unidad Medida</button>
<button (click)="goTo('abm-caja')">ABM Caja</button>
<button (click)="goTo('abm-mesa')">ABM Mesa</button>
<button (click)="goTo('abm-rubro')">ABM Rubro</button>
<button (click)="goTo('abm-sector')">ABM Sector</button>
<button (click)="goTo('gestionar-producto')">ABM Gestionar Producto</button>
<button (click)="goTo('gestionar-menupromocion')">ABM Gestionar Menu Promocion</button>
<button (click)="goTo('generar-reporte')">ABM Generar Reporte</button> -->