img {
    border-radius: 20px;
}
.precio {
    font-size: 20px;
    font-weight: 700;
    text-align: right;   
}
ion-item {
    img {

        height: 100px;
        width: 100px;
    }
    margin-bottom: 3px;
    margin-top: 3px;

    &.activo {
        box-shadow: 5rem;
        border-radius: 5px;
        border: 4px solid green;
        border-left: 19px solid green;
    }
    &.enfalta {
        border-radius: 5px;
        border: 4px solid rgb(255, 196, 0);
        border-left: 19px solid rgb(255, 196, 0);
    }
    &.inactivo {
        border-radius: 5px;
        border: 4px solid red;
        border-left: 19px solid red;
    }
    &.eliminado {
        border-radius: 5px;
        border: 4px solid black;
        border-left: 19px solid black;
        pointer-events: none; 
        cursor: default;
    }
    .box-imagen {
        max-width: 100px;
    }
    .composicion {
        text-align: center;
    }
}