ion-select {
    font-size: 18px;
    font-weight: 300;
    padding-left: 5px;
    select-icon {
        margin: auto;
    }
}

ion-col.login {
    ion-select {
        width: 150px;
        align-content: center;
        text-align: center;
        padding-left: 0px !important;
        margin-left: 0px;
    }
}

.alert-wrapper.sc-ion-alert-md {
    min-width: 350px!important;
}