<div style="padding-top: 60px;">
    <div style="padding-top: 10px; width: 90%; margin: auto;">
        <div style="padding: 2rem 1rem; margin-bottom: 2rem; background-color: #e9ecef; border-radius: 0.3rem;">
            <h2 style="font-size: 3.5rem; font-weight: 300; line-height: 1.2;">
                Módulo de Backup y Recuperación
            </h2>
            <p style="font-size: 1.25rem; font-weight: 300;">
                Usted podrá generar un Backup de toda la Base de Datos del sistema y recuperar la información de un un archivo de Backup previamente generado.<br>Se recomienda no realizar acciones con usuarios conectados.
            </p>
            <hr style="margin-top: 1.5rem !important;">
            <p>Presione el siguiente botón para generar un archivo de Backup de todo el sistema. El mismo puede demorar unos minutos en ser generado.</p>
        </div>
    </div>
</div>