<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Nueva Estadía</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <br>
    <ion-title>Seleccione Mesa/s</ion-title>
    <ion-button (click)="mostrarMesas()" padding=10 position="fixed">Mostrar Mesas</ion-button>


    <!--  <p class="input-error-msg" *ngIf="form.controls.idMesa.errors?.required && form.controls.idMesa.touched">Campo Obligatorio.</p>  -->



    <!--  
    <form [formGroup]="form2" *ngIf="form2">
        <ion-row padding>
            <ion-title>Comensal </ion-title>
            <ion-button (click)="mostrar = !mostrar">
                <ion-icon name="help"> </ion-icon>
            </ion-button>
        </ion-row>
        <div class="input-group-append" *ngIf="mostrar">
            <button class="btn btn-clear btn-dark tooltip-custom" type="button" (click)="mostrar = !mostrar">
              <div class="tooltip-container">
              <p class="averageTicketSize"><b>Agregar Comensal</b></p>
              <p class="description">Usted puede agregar cuantos comensales quiera. Usted podrá dar permisos para que ingresen a su "Reserva" o "Estadía".</p>
              <i></i>
              </div>
          </button>
        </div>
        <ion-item padding>
            <ion-label color="primary" position="fixed">Alias Comensal</ion-label>
            <ion-input class="form-control" type="text" placeholder="Alias" formControlName="aliasComensal" id="aliasComensal"></ion-input>
        </ion-item>
        <ion-item padding>
            <ion-label color="primary" position="fixed">Edad Comensal</ion-label>
            <ion-input class="form-control" type="number" placeholder="Edad" formControlName="edadComensal" id="edadComensal"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" padding position="fixed">Cuit del Usuario</ion-label>
            <ion-input class="form-control" type="number" placeholder="Cuit del Usuario" formControlName="cuitUsuario" id="cuitUsuario"></ion-input>
            <ion-button (click)="mostrar2 = !mostrar2">
                <ion-icon name="help"> </ion-icon>
            </ion-button>
        </ion-item>
        <p class="input-error-msg" *ngIf="!existenciaUsuario">{{mensajeExistenciaUsuario}}</p>
        <div class="input-group-append" *ngIf="mostrar2">
            <button class="btn btn-clear btn-dark tooltip-custom" type="button" (click)="mostrar2 = !mostrar2">
      <div class="tooltip-container">
        <p class="averageTicketSize"><b>Como pedir Cuit de Usuario?</b></p>
        <p class="description">Si dicho comensal esta registrado en nuestra aplicación, ¡Pídele su número de Cuit!.</p>
        <i></i>
      </div>
    </button>
        </div>
    </form>


    <ion-button *ngIf="form2" class="mt-10" (click)="nuevoComensal()" [disabled]="!form2.valid" expand="full" shape="round">Agregar Comensal</ion-button>
    <ion-card *ngFor="let comen of comensales; let i = index">
        <ion-card-header *ngIf="!comen.baja">
            <ion-card-title>
                Alias: {{comen.aliasComensal}}
            </ion-card-title>
            <ion-card-subtitle>
                Edad: {{comen.edadComensal}}
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="comen.idUsuario">
                Usuario: {{comen.idUsuario}} - Cuit: {{comen.cuitUsuario}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger" class="mt-10" (click)="eliminarComensal(i)" shape="round" *ngIf="i > 0 && !comen.baja"> Eliminar</ion-button>
    </ion-card>
    <ion-button *ngIf="accionGet == 'crear'" class="mt-10" (click)="crearEditarReserva()" [disabled]="!form.valid" expand="full">Crear Estadía</ion-button>




  -->







</ion-content>