page-setting {
    display: block;
    overflow-y: scroll;
    // .scroll-content {
    //   display: flex;
    //   flex-direction: column;
    //   .page-container {
    //     flex-grow: 1;
    //   }
    // }
  
  
  }
  
  * {
    font-size: 1.5rem;
  }