ion-img.logo {
    width: 100px;
    margin: auto;
}

ion-menu-button {
    font-size: 25px;
    padding-left: 0px;
}

ion-buttons {
    font-size: 25px;
    padding: 0px 10px;
}

ion-buttons.header-final {
    position: absolute;
    right: 40px;
}