<h2 class="titulo">Rubro</h2>
<hr>
<div class="container">
    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="id" class="col col-form-label">Id</label>
                <input type="text" id="id" placeholder="Identificador" formControlName="id" class="form-control">
            </div>

            <div class="form-group">
                <label for="codigo" class="col col-form-label">Código</label>
                <input type="text" class="form-control" id="codigo" placeholder="Ingrese Código" formControlName="codigo">
                <p class="input-error-msg" *ngIf="form.controls.codigo.errors?.required && form.controls.codigo.touched">Campo Obligatorio.</p>
                <p class="input-error-msg" *ngIf="form.controls.codigo.errors?.pattern && form.controls.codigo.touched">Solo números y/o letras en mayúsculas. Ej: COD10A</p>

            </div>

            <div class="form-group">
                <label for="nombre" class="col col-form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre" formControlName="nombre">
                <p class="input-error-msg" *ngIf="form.controls.nombre.errors?.required && form.controls.nombre.touched">Campo Obligatorio.</p>
                <p class="input-error-msg" *ngIf="form.controls.nombre.errors?.pattern && form.controls.nombre.touched">Valor no válido. Ej: Entradas2</p>
            </div>

            <div class="form-group">
                <label for="descripcion" class="col col-form-label">Descripción</label>
                <textarea aria-label="Ingrese Descripción" id="descripcion" formControlName="descripcion" class="form-control"></textarea>
                <p class="input-error-msg" *ngIf="form.controls.descripcion.errors?.required && form.controls.descripcion.touched">Campo Obligatorio.</p>
            </div>
            <hr>
            <div *ngIf="accionGet != 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Guardar</button>
            </div>
            <div *ngIf="accionGet == 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Eliminar</button>
            </div>

        </form>
    </div>
</div>
<hr>
<button onclick="history.back()" class="btn btn-primary">Cancelar</button>