.pendiente {
    width: 100%;
    height: 30px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: var(--ion-color-warning);
}