<div class="contenedor-pagina">
    <div class="table-container">
        <h2 class="titulo">Gestionar Estado de Estadia</h2>
        <hr>
        <div class="container">
            <div class="form-section">
                <form [formGroup]="form" (ngSubmit)="guardar()">
                    <div class="form-group">
                        <label for="cantPersonas" class="col col-form-label">Cantidad de Personas</label>
                        <input type="text" id="cantPersonas" placeholder="cantidad de personas" formControlName="cantPersonas" class="form-control">
                    </div>            
                    <div class="form-group">
                            <label for="mesa" class="col col-form-label">Mesas</label>
                            <input type="text" id="mesa" placeholder="mesas" formControlName="mesa" class="form-control">
                    </div>   
                    <div class="form-group">
                            <label for="fechaYHoraInicioEstadia" class="col col-form-label">Fecha y Hora de Inicio de Estadia</label>
                            <input type="text" id="fechaYHoraInicioEstadia" placeholder="Fecha y Hora" formControlName="fechaYHoraInicioEstadia" class="form-control">
                    </div>  
                    <div class="form-group">
                        <label for="mozoEstadia" class="col col-form-label">Mozo</label>
                        <input type="text" id="mozoEstadia" placeholder="Mozo" formControlName="mozoEstadia" class="form-control">
                    </div> 
                    <div class="form-group">
                        <label for="estadoEstadia" class="col col-form-label">Estado Estadia</label>
                        <input type="text" id="estadoEstadia" placeholder="Estado Estadia" formControlName="estadoEstadia" class="form-control">
                    </div>      
                    <div class="form-group">
                        <label for="comensales" class="col col-form-label">Comensales</label>
                        <input type="text" id="comensales" placeholder="Comensales" formControlName="comensales" class="form-control">
                    </div>                                 
                    <hr align="left">
                    <div *ngIf="accionGet != 'eliminar'">
                        <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="form.valid">Anular Estadia</button>
                    </div>
                    <div *ngIf="accionGet == 'eliminar'">
                        <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Eliminar</button>
                    </div>
                </form>
                <hr>
                <button onclick="history.back()" class="btn btn-primary">Cancelar</button>
            </div>
        </div>
        <hr>
    </div>
</div>