<div class="ion-page" main>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-menu-button slot="start"></ion-menu-button>
            <ion-title class="ion-text-center">
                <ion-img class="logo" src="../../assets/icon/logo-sarym-extrafino.jpg"> </ion-img>
            </ion-title>
            <ion-buttons slot="end" (click)="goTo('registro-usuario')">
                <ion-icon name="person"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-slides pager="true" *ngIf="currentUsuario=='Cliente' || currentUsuario=='Administrador' ">
            <ion-slide *ngFor="let item of slidesCliente" [ngStyle]="{ 'background-image': 'url(' + item.url + ')'}">
            </ion-slide>
        </ion-slides>
        <ion-slides pager="true" *ngIf="currentUsuario=='Mozo'">
            <ion-slide *ngFor="let item of slidesMozo" [ngStyle]="{ 'background-image': 'url(' + item.url + ')'}">
            </ion-slide>
        </ion-slides>
        <ion-slides pager="true" *ngIf="currentUsuario=='Invitado'">
            <ion-slide *ngFor="let item of slidesCliente" [ngStyle]="{ 'background-image': 'url(' + item.url + ')'}">
            </ion-slide>
        </ion-slides>
    </ion-content>
    <ion-footer color="primary">
        <ion-toolbar>
            <!-- CLIENTE -->
            <ion-list class="list-radius" *ngIf="currentUsuario=='Cliente' || currentUsuario=='Administrador' ">
                <ion-item no-padding color="primary" (click)="goTo('unirse-reserva')">
                    <ion-icon color="light" class="list-icon" name="ios-share"></ion-icon>
                    <ion-label color="light">UNIRSE A RESERVA o ESTADIA</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('nueva-reserva')">
                    <ion-icon color="primary" class="list-icon" name="add-circle"></ion-icon>
                    <ion-label color="primary">CREAR RESERVA</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('realizar-pedido')">
                    <ion-icon color="primary" class="list-icon" name="ios-create"></ion-icon>
                    <ion-label color="primary">REALIZAR PEDIDO</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('catalogo')">
                    <ion-icon color="primary" class="list-icon" name="ios-restaurant"></ion-icon>
                    <ion-label color="primary">CARTA</ion-label>
                </ion-item>
                <ion-item no-padding (click)="seleccionarMis()">
                    <ion-icon color="primary" class="list-icon" name="bookmarks"></ion-icon>
                    <ion-label color="primary">MIS RESERVAS o ESTADIA</ion-label>
                </ion-item>
            </ion-list>
            <!--FIN CLIENTE -->

            <!-- MOZO -->
            <ion-list class="list-radius" *ngIf="currentUsuario=='Mozo'">
                <ion-item no-padding color="primary" (click)="goTo('consultar-salon')">
                    <ion-icon color="light" class="list-icon" name="eye"></ion-icon>
                    <ion-label color="light">CONSULTAR SALON</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('generar-estadia')">
                    <ion-icon color="primary" class="list-icon" name="contacts"></ion-icon>
                    <ion-label color="primary">GENERAR ESTADIA</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('entregar-pedido')">
                    <ion-icon color="primary" class="list-icon" name="done-all"></ion-icon>
                    <ion-label color="primary">FINALIZAR ESTADIA</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('pedidos a enviar')">
                    <ion-icon color="primary" class="list-icon" name="pizza"></ion-icon>
                    <ion-label color="primary">PEDIDOS A ENVIAR</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('confirmar-reserva')">
                    <ion-icon color="primary" class="list-icon" name="body"></ion-icon>
                    <ion-label color="primary">CONFIRMAR RESERVA</ion-label>
                </ion-item>
            </ion-list>
            <!-- FIN MOZO -->

            <!-- INVITADO -->
            <ion-list class="list-radius" *ngIf="currentUsuario=='Invitado'">
                <ion-item no-padding color="primary" (click)="goTo('unirse-reserva')">
                    <ion-icon color="light" class="list-icon" name="ios-share"></ion-icon>
                    <ion-label color="light">UNIRSE A RESERVA o ESTADIA</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('realizar-pedido')">
                    <ion-icon color="primary" class="list-icon" name="ios-create"></ion-icon>
                    <ion-label color="primary">REALIZAR PEDIDO</ion-label>
                </ion-item>
                <ion-item no-padding (click)="goTo('catalogo')">
                    <ion-icon color="primary" class="list-icon" name="ios-restaurant"></ion-icon>
                    <ion-label color="primary">CARTA</ion-label>
                </ion-item>
                <ion-item no-padding (click)="seleccionarMis()">
                    <ion-icon color="primary" class="list-icon" name="bookmarks"></ion-icon>
                    <ion-label color="primary">MIS RESERVAS o ESTADIA</ion-label>
                </ion-item>
            </ion-list>
            <!--FIN INVITADO -->
        </ion-toolbar>
    </ion-footer>
</div>