<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Seleccione un Comensal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='reserva'>
  <ion-card *ngFor="let item of reserva['comensals']">
      <ion-card-header>
          <ion-card-title>{{item.aliasComensal}}</ion-card-title>
          <ion-card-subtitle>{{item.edadComensal}}</ion-card-subtitle>
        </ion-card-header>
    <!-- <ion-item>
        <ion-thumbnail slot="start" >
        </ion-thumbnail>
        <ion-label >
            <p class="text">{{item.aliasComensal}}</p>
            <p class="text">{{item.edadComensal}}</p>
        </ion-label>
    </ion-item> -->
  </ion-card>
</ion-content>
