<ion-header *ngIf="idReserva">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="accionGet == 'crear'">Nueva Reserva</ion-title>
        <ion-title *ngIf="accionGet == 'editar'">Editar Reserva N° {{idReserva}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form">
        <div class="form-section">
            <ion-item>
                <ion-label padding color="primary" position="floating">Edad Comensal</ion-label>
                <ion-input class="form-control" type="number" placeholder="Su edad" formControlName="edadComensal" id="edadComensal" (change)="cambiarEdadComensal($event)"></ion-input>
            </ion-item>
            <p class="input-error-msg" *ngIf="form.controls.edadComensal.errors?.pattern && form.controls.edadComensal.touched">Ingrese por ejemplo: 45.</p>
            <p class="input-error-msg" *ngIf="form.controls.edadComensal.errors?.required && form.controls.edadComensal.touched">Deber ingresar la edad.</p>
            <p class="input-error-msg" *ngIf="form.controls.edadComensal.errors?.edad_maxima && form.controls.edadComensal.touched">No puede ingrear edad mayor a 150.</p>
            <ion-item>
                <ion-label padding color="primary" position="floating">Fecha Reserva</ion-label>
                <ion-datetime formControlName="fechaReserva" id="fechaReserva" class="form-control" mode="ios" displayFormat="DD/MM/YYYY" min='{{fechaDesde}}' max='{{fechaHasta}}' doneText="Elegir" placeholder="Elija Fecha"></ion-datetime>
            </ion-item>
            <p class="input-error-msg" *ngIf="form.controls.fechaReserva.errors?.required && form.controls.fechaReserva.touched">Seleccione fecha de Reserva.</p>
            <ion-item>
                <ion-label padding color="primary" position="floating">Hora Entrada</ion-label>
                <ion-datetime formControlName="horaEntrada" id="horaEntrada" class="form-control" mode="ios" displayFormat="HH:mm" doneText="Elegir" placeholder="Elija Hora Entrada"></ion-datetime>
            </ion-item>
            <p class="input-error-msg" *ngIf="form.controls.horaEntrada.errors?.pattern && form.controls.horaEntrada.touched">Debería ser 30m menos que hora de Salida.</p>
            <p class="input-error-msg" *ngIf="form.controls.horaEntrada.errors?.required && form.controls.horaEntrada.touched">Ingrese la hora de Entrada.</p>
            <ion-item>
                <ion-label padding color="primary" position="floating">Hora Salida</ion-label>
                <ion-datetime formControlName="horaSalida" id="horaSalida" class="form-control" mode="ios" displayFormat="HH:mm" doneText="Elegir" placeholder="Elija Hora Salida"></ion-datetime>
            </ion-item>
            <p class="input-error-msg" *ngIf="form.controls.horaSalida.errors?.pattern && form.controls.horaSalida.touched">Debería ser 30m mayor que la hora de Entrada.</p>
            <p class="input-error-msg" *ngIf="form.controls.horaSalida.errors?.required && form.controls.horaSalida.touched">Ingrese la hora de Salida.</p>
            <ion-item>
                <ion-label padding color="primary" position="floating">Cantidad de Personas</ion-label>
                <ion-input class="form-control" type="number" placeholder="Cantidad Personas" formControlName="cantidadComensal" id="cantidadComensal"></ion-input>
            </ion-item>
            <h1 padding>Seleccione Mesa/s</h1>
            <ion-button padding (click)="mostrar5 = !mostrar5" position="floating">Mostrar Mesas</ion-button>
            <ion-list *ngIf="mostrar5">
                <ion-item class="form-group" *ngFor='let element of checkBoxList; let i = index'>
                    <ion-label class="descripcion-mesa">
                        <div [innerHTML]="element.descripcion | ajustarPalabra: 33"></div>
                    </ion-label>
                    <ion-checkbox (ionChange)="checkEvent( i )" [checked]="element.isChecked"> </ion-checkbox>
                </ion-item>
            </ion-list>
            <p class="input-error-msg" *ngIf="form.controls.idMesa.errors?.required && form.controls.idMesa.touched">Campo Obligatorio.</p>
        </div>
    </form>
    <form [formGroup]="form2" *ngIf="form2">
        <ion-row>
            <ion-col size="9">
                <h1 padding>Comensal </h1>
            </ion-col>
            <ion-col>
                <ion-button (click)="mostrar = !mostrar">
                    <ion-icon name="help"> </ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <div class="input-group-append" *ngIf="mostrar">
            <button class="btn btn-clear btn-dark tooltip-custom" type="button" (click)="mostrar = !mostrar">
                <div class="tooltip-container">
                <p class="averageTicketSize"><b>Agregar Comensal</b></p>
                <p class="description">Usted puede agregar cuantos comensales quiera. Usted podrá dar permisos para que ingresen a su "Reserva".</p>
                <i></i>
                </div>
            </button>
        </div>
        <ion-item>
            <ion-label padding color="primary" position="floating">Alias Comensal</ion-label>
            <ion-input class="form-control" type="text" placeholder="Alias" formControlName="aliasComensal" id="aliasComensal"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label padding color="primary" position="floating">Edad Comensal</ion-label>
            <ion-input class="form-control" type="number" placeholder="Edad" formControlName="edadComensal" id="edadComensal"></ion-input>
        </ion-item>
        <p class="input-error-msg" *ngIf="form2.controls.edadComensal.errors?.edad_maxima && form2.controls.edadComensal.touched">No puede ingrear edad mayor a 150.</p>
        <ion-item>
            <ion-label color="primary" padding position="floating">Cuit del Usuario</ion-label>
            <ion-input class="form-control" type="number" placeholder="Cuit del Usuario" formControlName="cuitUsuario" id="cuitUsuario"></ion-input>
        </ion-item>
        <p class="input-error-msg" *ngIf="!existenciaUsuario">{{mensajeExistenciaUsuario}}</p>
        <ion-row>
            <ion-col></ion-col>
            <ion-col size="2">
                <ion-button (click)="mostrar2 = !mostrar2">
                    <ion-icon name="help"> </ion-icon>
                </ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
        <div class="input-group-append" *ngIf="mostrar2">
            <button class="btn btn-clear btn-dark tooltip-custom" type="button" (click)="mostrar2 = !mostrar2">
        <div class="tooltip-container">
          <p class="averageTicketSize"><b>Como pedir Cuit de Usuario?</b></p>
          <p class="description">Si dicho comensal esta registrado en nuestra aplicación, ¡Pídele su número de Cuit!.</p>
          <i></i>
        </div>
      </button>
        </div>
    </form>
    <ion-button *ngIf="form2" class="mt-10" (click)="nuevoComensal()" [disabled]="!form2.valid" expand="full" shape="round">Agregar Comensal</ion-button>
    <ion-card *ngFor="let comen of comensales; let i = index">
        <ion-card-header *ngIf="!comen.baja">
            <ion-card-title>
                Alias: {{comen.aliasComensal}}
            </ion-card-title>
            <ion-card-subtitle>
                Edad: {{comen.edadComensal}}
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="comen.idUsuario">
                Usuario: {{comen.idUsuario}} - Cuit: {{comen.cuitUsuario}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger" class="mt-10" (click)="eliminarComensal(i)" shape="round" *ngIf="i > 0 && !comen.baja"> Eliminar</ion-button>
    </ion-card>
    <ion-button *ngIf="accionGet == 'crear'" class="mt-10" (click)="crearEditarReserva()" [disabled]="!form.valid" expand="full">Crear Reserva</ion-button>
    <ion-button *ngIf="accionGet == 'editar'" class="mt-10" (click)="crearEditarReserva()" [disabled]="!form.valid" expand="full">Editar Reserva</ion-button>
    <!-- <ion-button class="mt-10" (click)="prueba()" expand="full">Probar</ion-button> -->
</ion-content>