<div *ngIf="accionGet =='crear'">
    <h2 class="titulo">Nuevo Tipo Moneda</h2>
</div>
<div *ngIf="accionGet =='editar'">
    <h2 class="titulo">Editar Tipo Moneda</h2>
</div>
<div *ngIf="accionGet =='eliminar'">
    <h2 class="titulo">Eliminar Tipo Moneda</h2>
</div>
<hr>
<div class="container">
    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <div *ngIf="accionGet !='crear'">
                    <div>
                        <label for="id" class="col col-form-label">Id</label>
                        <input type="text" id="id" placeholder="Identificador" formControlName="id" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="simbolo" class="col col-form-label">Símbolo</label>
                <input type="text" class="form-control" id="simbolo" placeholder="Ingrese Símbolo" formControlName="simbolo">
                <p class="input-error-msg" *ngIf="form.controls.simbolo.errors?.required && form.controls.simbolo.touched">
                    Campo Obligatorio.
                </p>

            </div>
            <div class="form-group">
                <label for="nombre" class="col col-form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre" formControlName="nombre">
                <p class="input-error-msg" *ngIf="form.controls.nombre.errors?.required && form.controls.nombre.touched">Campo Obligatorio.</p>
                <p class="input-error-msg" *ngIf="form.controls.nombre.errors?.pattern && form.controls.nombre.touched">Valor no válido. Ej: Peso Argentino</p>
            </div>

            <hr>
            <div *ngIf="accionGet != 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Guardar</button>
            </div>
            <div *ngIf="accionGet == 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block">Eliminar</button>
            </div>

        </form>
    </div>
</div>
<hr>
<button onclick="history.back()" class="btn btn-primary">Cancelar</button>