<h2 class="titulo">ABM Unidad de Medida</h2>
<hr>
<div class="container">
    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="id" class="col col-form-label">Id</label>
                <input type="text" id="id" placeholder="Identificador" formControlName="id" class="form-control">
            </div>
            <div class="form-group">
                <label for="simbolo" class="col col-form-label">Código</label>
                <input type="text" class="form-control" id="simbolo" placeholder="Ingrese Código" formControlName="simbolo">
                <p class="input-error-msg" *ngIf="form.controls.simbolo.errors?.required && form.controls.simbolo.touched">
                    Campo Obligatorio.
                </p>

            </div>
            <div class="form-group">
                <label for="nombre" class="col col-form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre" formControlName="nombre">
                <p class="input-error-msg" *ngIf="form.controls.nombre.errors?.required && form.controls.nombre.touched">
                    Campo Obligatorio.
                </p>
            </div>

            <hr>
            <div *ngIf="accionGet != 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Guardar</button>
            </div>
            <div *ngIf="accionGet == 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Eliminar</button>
            </div>

        </form>
    </div>
</div>
<hr>
<button onclick="history.back()" class="btn btn-primary">Cancelar</button>