<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row class="mt-30">
    <ion-col size="10" offset="1">
      <form (ngSubmit)="signIn()">
        <ion-item class="item-round">
          <ion-input type="text" [(ngModel)]="signInForm.username" name="title"
            placeholder="{{'SIGN_IN.PLACEHOLDER.USERNAME' | translate}}"></ion-input>
        </ion-item>
        <ion-item class="item-round mt-10">
          <ion-input type="password" [(ngModel)]="signInForm.password" name="title"
            placeholder="{{'SIGN_IN.PLACEHOLDER.PASSWORD' | translate}}"></ion-input>
        </ion-item>
        <ion-button class="mt-10" type="submit" color="primary" expand="full" shape="round"
          [disabled]="signInForm['password'] == '' || signInForm['username'] == ''">
          {{'SIGN_IN.LOGIN_BUTTON' | translate}}</ion-button>
      </form>
    </ion-col>
  </ion-row>
  <ion-row class="terms-text">
    <ion-col size="10" offset="1">
      <p class="mb-0 mt-0">{{'SIGN_IN.HAVE_ACCOUNT' | translate}} <a
          (click)="goTo('sign-up')">{{'SIGN_IN.SIGN_UP' | translate}}</a></p>
      <p class="mb-0 mt-5">
        {{'SIGN_IN.FORGOT_PASSWORD' | translate}} <a
          (click)="showRecoveryPassword()">{{'SIGN_IN.PASSWORD' | translate}}</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>