<div class="ion-page" main>
    <ion-header>
        <ion-toolbar color="medium">
            <ion-buttons slot="start">
                <ion-icon routerLink="/mi-saldo" name="arrow-back"></ion-icon>
            </ion-buttons>
            <ion-title slot="start" no-padding class="ion-text-center">
                <ion-label>Mi Cuenta</ion-label>
            </ion-title>
            <ion-buttons class="count" slot="end" padding>
                <ion-label>
                    {{count}}
                </ion-label>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content no-padding class="ion-text-center">

        <div class="super ion-text-left" padding>
            <div no-padding>Saldo en cuenta</div>
            <div class="balance">$ 252,50</div>
        </div>

        <div class="list-radius">
            <ion-list>
                <ion-list-header color="light">
                    <ion-label slot="start">Movimientos</ion-label>
                    <ion-label slot="end">MAYO 2019</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let item of acount" no-padding>
                    <ion-icon class="list-icon" name="{{item.img}}"></ion-icon>
                    <div class="inf">
                        <ion-label>{{item.date}}</ion-label>
                        <ion-label>{{item.name}}</ion-label>
                    </div>
                    <div slot="end">
                        <ion-label [ngClass]="{'cash': item.id=='1', 'point': item.id=='2' }">{{item.valor}}</ion-label>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="space"></div>
    </ion-content>
</div>