    ion-content {
        font-size: 35px;
        font-family: SF;
        .super {
            height: 190px;
            ion-title {
                padding-top: 30px;
                font-weight: 100;
                font-size: 30px;
            }
            ion-icon {
                position: absolute;
                right: 16px;
                top: 44px;
                font-size: 30px;
            }
            div.balance {
                padding-top: 10px;
                font-weight: 600;
            }
            hr {
                margin-top: 20px;
                margin-bottom: 15px;
                background-color: #ffce00;
            }
            div.recharge {
                font-size: 18px;
            }
        }
        div.list-radius {
            padding-bottom: 0px;
            padding-top: 0px;
            //height: calc(100% - 190px);
            height: calc(100% - 250px);
            background-color: white;
            overflow-y: scroll;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom: solid 1px rgb(190, 188, 188);
            ion-list {
                padding-top: 5px;
                padding-bottom: 0px;
                ion-item {
                    font-size: 13px;
                    color: grey;
                    div.inf {
                        padding: 7px;
                    }
                    ion-icon.list-icon {
                        font-size: 40px;
                        color: rgb(192, 186, 186);
                        padding-left: 10px;
                    }
                }
                ion-label {
                    font-weight: 500;
                    padding: 3px;
                }
                ion-label.cash {
                    color: black;
                    font-weight: 900;
                    font-size: 15px;
                }
                ion-label.point {
                    color: rgb(0, 132, 255);
                    font-weight: 900;
                    font-size: 18px;
                }
            }
        }
    }
    
    div.space {
        height: 60px;
        background-color: white;
    }
    
    div.float {
        font-size: 60px;
        color: white;
        z-index: 900;
        background-color: rgb(207, 143, 4);
        border-radius: 30px;
        position: absolute;
        bottom: 15px;
        left: calc((100% / 2) - 30px);
        height: 60px;
    }
    
     :host {
        ion-toolbar {
            --background: transparent;
            background: transparent !important;
            background-color: transparent !important;
        }
    }