<h2 class="titulo">ABM Usuario</h2>
<hr>
<div class="container">
    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="id" class="col col-form-label">Id</label>
                <input type="text" id="id" placeholder="Identificador" formControlName="id" class="form-control">
            </div>

            <div class="form-group">
                <label for="numeroCaja" [ngClass]="{'col': true, 'col-form-label': true, 'input-error-msg': verificarValidacionCampo('numeroCaja', ['invalid','touched'])}">Numero de Caja</label>
                <input type="number" [ngClass]="{'form-control': true, 'is-invalid': verificarValidacionCampo('numeroCaja', ['invalid','touched'])}" id="numeroCaja" placeholder="Ingrese Código" formControlName="numeroCaja">
                <p class="input-error-msg" *ngIf="verificarValidacionCampo('numeroCaja', ['invalid','touched'])">
                    Campo Obligatorio.
                </p>
                <button type="button" class="btn btn-success traer" (click)="traerCaja()" *ngIf="cajaEncontrada">Traer</button>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="idEstadoCaja" [ngClass]="{'col': true, 'col-form-label': true, 'input-error-msg': verificarValidacionCampo('idEstadoCaja', ['invalid','touched'])}">Estado Caja</label>
                    <select Placeholder='SELECCIONE' formControlName='idEstadoCaja' [ngClass]="{'form-control': true, 'is-invalid': verificarValidacionCampo('idEstadoCaja', ['invalid','touched'])}"> 
                            <option *ngFor='let estadoCaja of listaEstadoCaja' [value]='estadoCaja.idEstadoCaja'>{{estadoCaja.nombreEstadoCaja}}</option>
                        </select>

                    <p class="input-error-msg" *ngIf="verificarValidacionCampo('idDepartamento', ['invalid','touched'])">
                        Campo Obligatorio.
                    </p>
                </div>
                <div class="col">
                    <label for="contrasenaUsuario" [ngClass]="{'col': true, 'col-form-label': true, 'input-error-msg': verificarValidacionCampo('contrasenaUsuario', ['invalid','touched'])}">Conraseña</label>
                    <input type="password" [ngClass]="{'form-control': true, 'is-invalid': verificarValidacionCampo('contrasenaUsuario', ['invalid','touched'])}" id="contrasenaUsuario" placeholder="Ingrese Respuesta" formControlName="contrasenaUsuario">
                    <p class="input-error-msg" *ngIf="verificarValidacionCampo('contrasenaUsuario', ['invalid','touched'])">
                        Campo Obligatorio.
                    </p>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Guardar</button>
        </form>
    </div>
</div>
<hr>
<button routerLink="/home" class="btn btn-primary">Cancelar</button>