<div class="contenedor-pagina">
    <br>
    <h2>Top 5 Promoción</h2>
    <br><br>
    <div>
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart 
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend" 
                    [colors]="chartColors" 
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)" 
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>