<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="md-arrow-back" (click)="goBack()"></ion-icon>
        </ion-buttons>
        <ion-title>Mi Estadia</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="nombreUsuario">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngIf="!estadia && !estadiaInvitado">
        <h3 padding><strong>Debe unirse o pertenecer a una estadia para poder interactuar con ella.</strong></h3>
    </ion-card>
    <ion-card *ngIf="nombreUsuario != 'Invitado'">
        <ion-item-sliding>
            <ion-item *ngIf="estadia && estadia.tipo != 2">
                <ion-label>
                    <p class="text">
                        <ion-grid>
                            <ion-row>
                                <ion-title>Estadia N°: {{estadia.idEstadia}}</ion-title>
                                <ion-button align='rigth' (click)="mostrar = !mostrar">
                                    <ion-icon name="barcode"></ion-icon>
                                </ion-button>
                            </ion-row>
                            <br>
                            <ion-row>
                                <ion-col>
                                    <strong>Fecha Ingreso</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    {{estadia.fechaYHoraInicioEstadia | date:'dd/MM/yyyy'}}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                    <p class="text">
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <strong>Cantidad de Comensales:</strong> {{estadia.cantPersonas}}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                    <div class="buttons">
                        <ion-row>
                            <ion-col>
                                <ion-button color="success" (click)="consultarEstadia(estadia.idEstadia)">Consultar Estadia</ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button class="cash" color="warning" (click)="verListaPago(estadia)">
                                    <ion-icon name="cash"></ion-icon>Ver Pagos</ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="realizarPedido(estadia)">Ver Comensales</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-card>
    <ion-card *ngIf="nombreUsuario == 'Invitado' && traerEstadiaInvitado">
        <ion-item-sliding *ngIf="estadiaInvitado">
            <ion-item>
                <ion-label>
                    <p class="text">
                        <ion-grid>
                            <ion-row>
                                <ion-title>Estadia N°: {{estadiaInvitado.idEstadia}}</ion-title>
                                <ion-button align='rigth' (click)="mostrar = !mostrar">
                                    <ion-icon name="barcode"></ion-icon>
                                </ion-button>
                            </ion-row>
                            <br>
                            <ion-row>
                                <ion-col>
                                    <strong>Fecha Ingreso</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    {{estadiaInvitado.fechaYHoraInicioEstadia | date:'dd/MM/yyyy'}}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                    <p class="text">
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <strong>Cantidad de Comensales:</strong> {{estadiaInvitado.cantPersonas}}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                    <div class="buttons">
                        <ion-row>
                            <ion-col>
                                <ion-button color="success" (click)="consultarEstadia(estadiaInvitado.idEstadia)">Consultar Estadia</ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button class="cash" color="warning" (click)="verListaPago(estadiaInvitado)">
                                    <ion-icon name="cash"></ion-icon>Ver Pagos</ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="realizarPedido(estadiaInvitado)">Ver Comensales</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-card>
    <div *ngIf=mostrar>
        <ion-card *ngIf="createdCode">
            <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
        </ion-card>
        <h2 padding> <strong>Para compartir tu estadia con tus amigos!</strong></h2>
        <ion-item *ngIf="!estadia && !estadiaInvitado">
            <ion-label floating>Usted no posee Estadia asociada</ion-label>
        </ion-item>
    </div>
    <ion-fab *ngIf="!estadia && !estadiaInvitado" vertical="bottom" horizontal="end" slot="fixed" (click)="unirseEstadia()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>