<div class="contenedor-pagina">
    <div class="row-buscador">
            <div class="col">
                <input #termino id="botonBuscar" type="text" (keyup)="buscarPedido(termino.value)" class="form-control mr-sm-2" placeholder="Buscar Pedido...">
            </div>
        </div>
        <hr>
        <div class="row animated fadeIn fast" *ngIf="listaPedidos.length == 0">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    No existen Estadias con el término <strong>{{termino.value}}</strong>
                </div>
            </div>
        </div>
        <table class="table" *ngIf="listaPedidos.length != 0">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Codigo de Pedido</th>
                    <th scope="col">Fecha y Hora Inicio de Pedido</th> 
                    <th scope="col">Cantidad Menu Pomocion</th>  
                    <th scope="col">Codigo Menu Promocion</th>
                    <th scope="col">Cantidad Producto</th> 
                    <th scope="col">Codigo Producto</th>
                    <th scope="col">Estado Pedido</th>
                    <th scope="col">Accion</th>           
                </tr>
            </thead>
            <tbody  *ngFor="let lista of listaPedidos">
                <tr *ngIf ="lista.pedidoestados[0].estadopedido.idEstadoPedido == 3" >                     
                    <td align="center">{{lista.codPedido}}</td>            
                    <td>{{lista.fechaYHoraInicioPedido | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                    <td>{{lista.fechaYHoraInicioPedido}}</td>
                    <td>{{lista.fechaYHoraInicioPedido}}</td>
                    <td>{{lista.fechaYHoraInicioPedido}}</td>
                    <td>{{lista.fechaYHoraInicioPedido}}</td>
                    <td>{{lista.fechaYHoraInicioPedido}}</td>                      
                    <td>
                        <div class="row">
                            <div class="col-1"  *ngFor="let listaMesas of lista.detalleestadiamesas">{{listaMesas.mesa.nroMesa}}</div>
                        </div>
                    </td>
                    <td>{{lista.mozoestadium.usuario.nombreUsuario}} {{lista.mozoestadium.usuario.apellidoUsuario}}</td>    
                    <td>
                        <img src="../../../../assets/imagenes/editar_ico.png" alt="Editar" title="Consultar Pedidos en Preparacion" (click)="editEstadia(lista.idEstadia)" style="cursor: pointer;">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tr>
                <td align="left" width="20%"><button [routerLink]="['/home']" class="btn btn-primary">Volver</button></td>
                <td width="20%">&nbsp;</td>
                <td width="20%">&nbsp;</td>
                <td width="20%">&nbsp;</td>
            </tr>
        </table>
</div>