<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Suma QR</ion-title>

        <ion-buttons slot="end">
            <ion-button href="/card-page">Camara
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input type="text" placeholder="Informacion de QR" [(ngModel)]="qrData">

        </ion-input>
    </ion-item>

    <ion-button full (click)="createCode()">
        <ion-icon name="barcode">
        </ion-icon> Create Code
    </ion-button>

    <ion-button full (click)="scanCode()">
        <ion-icon name="qr-scanner">
        </ion-icon> Scan Code
    </ion-button>

    <ion-button full (click)="presentAlert()">
        <p>Leer QR </p>
    </ion-button>

    <ion-card *ngIf="createdCode">
        <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
        <ion-card-content>
            <p>Value: {{createdCode}} </p>

        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="scannedCode">
        <ion-card-content>
            Result from Scan: {{scannedCode}}
        </ion-card-content>
    </ion-card>

</ion-content>