ion-header {
    ion-buttons.count {
        font-size: 20px;
        // background-color: red;
    }
}

ion-content {
    font-family: SF;
    .super {
        height: 90px;
        ion-title {
            font-weight: 600;
            font-size: 18px;
        }
        div.balance {
            padding-top: 8px;
            font-weight: 900;
            font-size: 25px;
        }
    }
    div.list-radius {
        height: calc(100% - 90px);
        overflow-y: scroll;
        border: solid 1px rgb(190, 188, 188);
        ion-list {
            padding-bottom: 0px;
            ion-item {
                font-size: 13px;
                color: grey;
                div.inf {
                    padding: 7px;
                }
                ion-icon.list-icon {
                    font-size: 40px;
                    color: rgb(192, 186, 186);
                    padding-left: 10px;
                }
            }
            ion-label {
                font-weight: 500;
                padding: 3px;
            }
        }
    }
}

div.space {
    height: 60px;
    background-color: white;
}