div.activo {
    ion-item-sliding {
        ion-item {
            ion-card {
                background-color: var(--ion-color-danger);
                ion-card-title,
                ion-card-subtitle {
                    color: var(--ion-color-light)
                }
                ion-title {
                    color: white;
                }
            }
        }
    }
}

div.pendiente {
    ion-item-sliding {
        ion-item {
            ion-card {
                background-color: var(--ion-color-success);
                ion-card-title,
                ion-card-subtitle {
                    color: var(--ion-color-light)
                }
                ion-title {
                    color: white;
                }
            }
        }
    }
}

div.anulado {
    ion-item-sliding {
        ion-item {
            ion-card {
                background-color: var(--ion-color-dark);
                ion-card-title,
                ion-card-subtitle {
                    color: var(--ion-color-light)
                }
                ion-title {
                    color: white;
                }
            }
        }
    }
}

div.finalizadoImpago {
    ion-item-sliding {
        ion-item {
            ion-card {
                background-color: blueviolet;
                ion-card-title,
                ion-card-subtitle {
                    color: var(--ion-color-light)
                }
                ion-title {
                    color: white;
                }
            }
        }
    }
}

div.finalizado {
    ion-item-sliding {
        ion-item {
            ion-card {
                background-color: var(--ion-color-secondary);
                ion-card-title,
                ion-card-subtitle {
                    color: var(--ion-color-light)
                }
                ion-title {
                    color: white;
                }
            }
        }
    }
}

div.faltaConfirmacion {
    ion-item-sliding {
        ion-item {
            ion-card {
                background-color: var(--ion-color-warning);
                ion-card-title,
                ion-card-subtitle {
                    color: var(--ion-color-dark)
                }
                ion-title {
                    color: black;
                }
            }
        }
    }
}