<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mis Reservas</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="nombreUsuario">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngIf="nombreUsuario != 'Invitado' && listaReservas.length == 0">
        <h3 padding><strong>Debe generar o pertenecer a una reserva para poder interactuar con ella</strong></h3>
    </ion-card>
    <ion-card *ngIf="nombreUsuario == 'Invitado' && !traeReservasInvitado">
        <h3 padding><strong>Debe unirse a una reserva para poder visulizarlas en este detalle</strong></h3>
    </ion-card>
    <ion-card *ngIf="nombreUsuario != 'Invitado'">
        <ion-item-sliding *ngFor="let reserva of listaReservas">
            <ion-item *ngIf="reserva.tipo != 2">
                <ion-label>
                    <p class="text">
                        <ion-grid>
                            <ion-row>Reserva N°: {{reserva.data.idReserva}}</ion-row>
                            <ion-row>
                                <ion-col>
                                    <strong>Fecha</strong>
                                </ion-col>
                                <ion-col>
                                    <strong>Ingreso</strong>
                                </ion-col>
                                <ion-col>
                                    <strong>Egreso</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    {{reserva.data.fechaReserva | date:'dd/MM/yyyy'}}
                                </ion-col>
                                <ion-col>
                                    {{reserva.data.horaEntradaReserva}}hs
                                </ion-col>
                                <ion-col>
                                    {{reserva.data.horaSalidaReserva}}hs
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                    <p class="text">
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <strong>Cantidad de Comensales:</strong> {{reserva.data.cantPersonas}}
                                </ion-col>
                                <ion-col>
                                    <ion-title *ngIf="reserva.data.reservaestados[0].estadoreserva.idEstadoReserva != 1">
                                        VENCIDA
                                    </ion-title>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button color="success" (click)="consultarReserva(reserva.data.idReserva)">Consultar Reserva</ion-button>
                                </ion-col>
                                <ion-col align="rigth">
                                    <ion-button (click)="realizarPedido(reserva)">Ver Comensales</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item-options side="start" *ngIf="nombreUsuario != 'Invitado'">
                <ion-item-option color="danger" (click)="anularReserva(reserva.data.idReserva)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end" *ngIf="nombreUsuario != 'Invitado'">
                <ion-item-option style="background-color:green" (click)="editarReserva(reserva.data.idReserva)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="secondary" (click)="verQrReserva(reserva.data.idReserva)">
                    <ion-icon slot="icon-only" name="barcode"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-card>
    <ion-card *ngIf="nombreUsuario == 'Invitado' && traeReservasInvitado">
        <ion-item-sliding *ngIf="reservaInvitado">
            <ion-item>
                <ion-label>
                    <p class="text">
                        <ion-grid>
                            <ion-row>Reserva N°: {{reservaInvitado.idReserva}}</ion-row>
                            <ion-row>
                                <ion-col>
                                    <strong>Fecha</strong>
                                </ion-col>
                                <ion-col>
                                    <strong>Ingreso</strong>
                                </ion-col>
                                <ion-col>
                                    <strong>Egreso</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    {{reservaInvitado.fechaReserva | date:'dd/MM/yyyy'}}
                                </ion-col>
                                <ion-col>
                                    {{reservaInvitado.horaEntradaReserva}}hs
                                </ion-col>
                                <ion-col>
                                    {{reservaInvitado.horaSalidaReserva}}hs
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                    <p class="text">
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <strong>Cantidad de Comensales:</strong> {{reservaInvitado.cantPersonas}}
                                </ion-col>
                                <ion-col>
                                    <ion-title *ngIf="reservaInvitado.reservaestados[0].estadoreserva.idEstadoReserva != 1">
                                        VENCIDA
                                    </ion-title>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button color="success" (click)="consultarReserva(reservaInvitado.idReserva)">Consultar Reserva</ion-button>
                                </ion-col>
                                <ion-col align="rigth">
                                    <ion-button (click)="realizarPedidoInvitado(reservaInvitado)">Realizar Pedido</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item-options side="start" *ngIf="nombreUsuario != 'Invitado'">
                <ion-item-option color="danger" (click)="anularReserva(reservaInvitado.idReserva)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end" *ngIf="nombreUsuario != 'Invitado'">
                <ion-item-option style="background-color:green" (click)="editarReserva(reservaInvitado.idReserva)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="secondary" (click)="verQrReserva(reservaInvitado.idReserva)">
                    <ion-icon slot="icon-only" name="barcode"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-card>
    <ion-item *ngIf="listaReservas.length == 1 && listaReservas[0].tipo == 2">
        <ion-label floating>Usted no posee Reservas generadas</ion-label>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="crearReserva()" *ngIf="nombreUsuario != 'Invitado'">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>