<div class="contenedor-pagina">
    <div class="table-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/enviar_pedido']">A Elaborar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cambiar_estado_pedido']">Enviados</a>
            </li>
        </ul>
        <br>
        <div class="card-columns">
            <div *ngFor="let pedido of listaPedidosEnPreparacion">
                <div class="card" style="width: 16rem;" *ngIf="pedido.detallepedidoproductos.length > 0" [ngClass]="{
                        'bg-success': pedido.horaDesdeComienzo < 3 , 
                        'bg-warning': pedido.horaDesdeComienzo >= 3 && pedido.horaDesdeComienzo < 5 , 
                        'bg-danger': pedido.horaDesdeComienzo >= 5
                    }">
                    <div class="card-body">
                        <h5 class="card-title">Mesa N°: {{pedido.mesas}}</h5>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-white">Código: {{pedido.codPedido}}</h6>
                        <h6 class="card-subtitle mb-2 text-white">Comensal: {{pedido.comensal.aliasComensal}}</h6>
                        <h6 class="card-subtitle mb-2 text-white">Hora de Inicio: {{pedido.fechaYHoraInicioPedido | date: 'h:mm a'}} hs</h6>
                        <h6 class="card-subtitle mb-2 text-white">Tiempo desde Inicio: {{pedido.horaDesdeComienzo}} min</h6>
                        <hr>
                        <div class="grid" *ngFor="let detalles of pedido.detallepedidoproductos">
                            <h6 class="card-subtitle mb-2 text-dark" *ngIf="detalles.menupromocion == null">x{{detalles.cantidadPedidoProducto}} - {{detalles.producto.nombreProducto}}
                            </h6>
                            <h6 class="card-subtitle mb-2 text-dark" *ngIf="detalles.menupromocion != null">x{{detalles.cantidadPedidoProducto}} - {{detalles.menupromocion.codMenuPromocion}}
                            </h6>
                        </div>
                        <hr>
                        <div>
                            <button class="btn btn-secondary" (click)="enviarPedido(pedido.idPedido)">Enviar Pedido</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>