$primary:    #1B417E;
$secondary:  #2892e9;
$success:    rgb(41, 184, 41);
$info:       #17a2b8;
$warning:    #ffc107;
$danger:     #ea0000;
$light:      #eeeeee;
$light2: #F8F8F8;
$dark:       #343a40;
$dark2: #3A3A3A;

$theme-colors: (
  primary:    $primary,
  secondary:  $secondary,
  success:    $success,
  info:       $info,
  warning:    $warning,
  danger:     $danger,
  light:      $light,
  light2:      $light2,
  dark:       $dark,
  dark2:       $dark2
);

//  @import "../node_modules/bootstrap/scss/bootstrap"; //It is imported for the override of theme-colors variables
