:host {
    background: url('../../assets/imgs/Desayunos.jpg') no-repeat center center fixed;
    background-size: cover;
}
ion-content {
    --background: unset;
    .mt-18vh {
        margin-top: 5vh 
    }
    img {
        width: 100%;
        padding-left: 0px;
        border-radius: 30px;
    }
}
.footer-md::before {
    background: unset;
}
.footer {
    background-color: transparent;
    text-align: center;
    span {
        color: var(--ion-color-light-shade);
        a {
            color: var(--ion-color-light);
        }
    }
    .button-inner {
      color: var(--ion-color-primary);
    }
}