<ion-content padding>
    <ion-row class='mt-18vh'>
        <ion-col col-8 offset-2 class='text-center'>
            <img src='../../assets/imgs/WTF2.png'>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size='10' offset='1'>
            <ion-row>
                <ion-col>
                    <form [formGroup]='form' *ngIf='form'>
                        <ion-item class="login-input">
                            <ion-row>
                                <ion-input class="form-control" type='number' id='cuitUsuario' placeholder='Ingrese Cuit' formControlName='cuitUsuario'></ion-input>
                            </ion-row>
                        </ion-item>
                        <ion-row no-padding>
                            <ion-col size="7">
                                <ion-item class="login-input">
                                    <ion-row>
                                        <ion-input class="form-control" type='password' id='contrasenaUsuario' placeholder='Contraseña' formControlName='contrasenaUsuario'></ion-input>
                                    </ion-row>
                                </ion-item>
                            </ion-col>
                            <ion-col size="5">
                                <ion-item class="login-input">
                                    <ion-label>Save</ion-label>
                                    <ion-checkbox no-margin formControlName='checkRecordar' color="primary" slot="end"></ion-checkbox>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </form>
                    <ion-button expand='full' shape='round' color='primary' (click)='loguear()' [disabled]="!form.valid">Iniciar Sesión</ion-button>
                    <ion-button expand='full' shape='round' (click)="goTo('registro-usuario')" color='primary'>Registrarse</ion-button>
                    <ion-button expand='full' shape='round' (click)='iniciarInvitado()' color='primary'>Invitado</ion-button>
                    <a (click)='recuperarContrasenia()' color='primary'>Recuperar Contraseña</a>
                </ion-col>
            </ion-row>
            <ion-row class='mt-10 terms-text'>
                <ion-col>
                    <span></span>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="configurar()" color="medium">
        <ion-fab-button>
            <ion-icon name="construct"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>