/* ############################################################
  INPUT
############################################################*/

ion-input {
    font-size: 20px !important;
    text-align: center;
}

ion-select-option {
    font-size: 20px !important;
}

.input-error-msg {
    color: var(--ion-color-danger) !important;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* ############################################################
  FORMS
############################################################*/

.form-group {
    .form-control {
        border-radius: 10px;
        &.ion-invalid.ion-touched:not(.has-focus) {
            color: var(--ion-color-danger) !important;
            border: 1px solid var(--ion-color-danger) !important;
        }
        &.ion-valid.ion-touched:not(.has-focus) {
            color: var(--ion-color-tertiary) !important;
            border: 1px solid var(--ion-color-success) !important;
        }
        &.has-focus {
            color: black;
            border: 1px solid var(--ion-color-tertiary) !important;
        }
    }
    ion-select {
        border-radius: 10px;
        &.ion-invalid.ion-touched:not(.has-focus) {
            color: var(--ion-color-danger) !important;
            border: 1px solid var(--ion-color-danger) !important;
        }
        &.ion-valid.ion-touched:not(.has-focus) {
            color: var(--ion-color-tertiary) !important;
            border: 1px solid var(--ion-color-success) !important;
        }
        &.has-focus {
            color: black;
            border: 1px solid var(--ion-color-warning) !important;
        }
    }
}

// .mobile {
//     .input-error-msg {
//         font-size: 9px !important;
//         font-weight: 600 !important;
//         margin-top: 2px;
//     }
// }

// .tablet {
//     .input-error-msg {
//         font-size: 12px !important;
//         font-weight: 600 !important;
//         margin-top: 4px;
//     }
// }

