<div class="contenedor-pagina">
    <div class="container">
        <div class="container" id="1">
            <div class="text-center">
                <br>
                <h1>Módulo de Reportes</h1>
                <h3>Sarym</h3>
                <br>    
                <div class="row-buscador" *ngIf='!mostrar'>
                    <div class="col">
                        <label>Fecha Desde</label>
                        <input [max]="fechaActual" min="2018-01-01"  type="date" class="form-control mr-sm-2" placeholder="Ingrese fecha desde">
                    </div>
                    <br>
                    <div class="col">
                        <label>Fecha Hasta</label>
                        <input #hasta [max]="fechaActual" min="2018-01-01" type="date" class="form-control mr-sm-2">
                    </div>
                    <div class="col">
                        <br>
                        <button (click)="mostrarReportes()" class="btn btn-primary">Generar Reporte</button>
                        </div>
                </div>

                <div *ngIf='mostrar'>
                    <app-reporte-top-producto></app-reporte-top-producto>
                </div>
  
            </div>
        </div>
        <div class="text-center" *ngIf='mostrar' >
            <hr>
            <div class="container" id="2">
                <app-reporte-top-menu></app-reporte-top-menu>
            </div>
            <hr>
            <div class="container" id="3">
                <app-reporte-top-promocion></app-reporte-top-promocion>
            </div>
            <hr>
            <div class="container" id="4">
                <app-reporte-pedido-por-edad></app-reporte-pedido-por-edad>
            </div>
            <hr>
            <div class="container" id="5">
                <app-reporte-edad></app-reporte-edad>
            </div>
        </div>
        <br>
        <div class="buttons-botton" *ngIf='mostrar'>
            <div class="row">
                <div class="col"></div>
                <div class="col-2"> 
                    <button [routerLink]="['/home']" class="btn btn-primary">Volver</button>
                </div>
                <div class="col"></div>
                <div class="col-2">
                    <button (click)="generarPDF()" class="btn btn-info">Exportar a PDF</button>
                </div>
                <div class="col"></div>
            </div>  
        </div>
</div>