<div class="container">

    <div class="container" id="contenido">
        <div class="text-center">
            <h1>Módulo de Reportes</h1>
            <h3>Sarym</h3>
        </div>

        <div class="text-center">
            <hr>
            <app-reporte-top-producto></app-reporte-top-producto>
            <hr>
            <app-reporte-top-menu></app-reporte-top-menu>
            <hr>
            <app-reporte-top-promocion></app-reporte-top-promocion>
            <hr>
            <app-reporte-pedido-por-edad></app-reporte-pedido-por-edad>
            <hr>
            <app-reporte-edad></app-reporte-edad>
        </div>
    </div>

    <table class="table">
        <tr>
            <td align="right" width="20%"><button [routerLink]="['/home']" class="btn btn-primary">Volver</button></td>
            <td width="20%">&nbsp;</td>
            <td width="20%">&nbsp;</td>
            <td width="20%">&nbsp;</td>
            <td align="right" width="20%"><button (click)="generarPDF3()" class="btn btn-info">Exportar a PDF</button>
            </td>
        </tr>
    </table>