<h2 class="titulo">ABM Usuario</h2>
<hr>
<div class="container">
    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="id" class="col col-form-label">Id</label>
                <input type="text" id="id" placeholder="Identificador" formControlName="id" class="form-control">
            </div>

            <div class="form-group">
                <label for="codigo" [ngClass]="{'col': true, 'col-form-label': true, 'input-error-msg': verificarValidacionCampo('codigo', ['invalid','touched'])}">Código</label>
                <input type="text" [ngClass]="{'form-control': true, 'is-invalid': verificarValidacionCampo('codigo', ['invalid','touched'])}" id="codigo" placeholder="Ingrese Código" formControlName="codigo">
                <p class="input-error-msg" *ngIf="verificarValidacionCampo('codigo', ['invalid','touched'])">
                    Campo Obligatorio.
                </p>

            </div>

            <div class="form-group">
                <label for="nombre" [ngClass]="{'col': true, 'col-form-label': true, 'input-error-msg': verificarValidacionCampo('nombre', ['invalid','touched'])}">Nombre</label>
                <input type="text" [ngClass]="{'form-control': true, 'is-invalid': verificarValidacionCampo('nombre', ['invalid','touched'])}" id="nombre" placeholder="Ingrese Nombre" formControlName="nombre">
                <p class="input-error-msg" *ngIf="verificarValidacionCampo('nombre', ['invalid','touched'])">
                    Campo Obligatorio.
                </p>
            </div>

            <div class="form-group">
                <label for="caracter" [ngClass]="{'col': true, 'col-form-label': true, 'input-error-msg': verificarValidacionCampo('caracter', ['invalid','touched'])}">Caracter</label>
                <input type="text" [ngClass]="{'form-control': true, 'is-invalid': verificarValidacionCampo('caracter', ['invalid','touched'])}" id="caracter" placeholder="Ingrese Caracter" formControlName="caracter">
                <p class="input-error-msg" *ngIf="verificarValidacionCampo('caracter', ['invalid','touched'])">
                    Campo Obligatorio.
                </p>
            </div>

            <div class="form-group">
                <label for="descripcion" [ngClass]="{'col': true, 'col-form-label': true, 'input-error-msg': verificarValidacionCampo('descripcion', ['invalid','touched'])}">Descripción</label>
                <textarea aria-label="Ingrese Descripción" id="descripcion" formControlName="descripcion" [ngClass]="{'form-control': true, 'is-invalid': verificarValidacionCampo('descripcion', ['invalid','touched'])}"></textarea>
                <p class="input-error-msg" *ngIf="verificarValidacionCampo('descripcion', ['invalid','touched'])">
                    Campo Obligatorio.
                </p>
            </div>
            <hr>
            <div *ngIf="accionGet != 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Guardar</button>
            </div>
            <div *ngIf="accionGet == 'eliminar'">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Eliminar</button>
            </div>

        </form>
    </div>
</div>
<hr>
<button onclick="history.back()" class="btn btn-primary">Cancelar</button>